body {
    overflow: hidden;
    background-color: rgb(249, 245, 236);
    margin: 0;
}
header {
    background-color: #A38F7B;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}
header > h1 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#gateCanvas {
    border: 1px solid black;
}
#inputs {
    margin-bottom: 20px;
}
#gateCanvas {
    margin-left: 10vw;
    margin-top: 50px;
    background-color: #F3EBCB;
}
#controls > #inputs > h2, #controls > #gateButtons > h2 {
    font-size: 15px;
}
#controls > #inputs > h2 {
    margin-bottom: 0px;
}
#controls > #inputs > h3 {
    font-size: 12px;
    margin-top: 3px;
    padding-top: 0px;
}
table, td, th {
    border:1px solid black;
    border-collapse: collapse;
}
td {
    padding-right: 60px;
}
th {
    padding-right: 10px;
    padding-left: 10px;
}
button {
    background-color: #74A892;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #E5C185;
}